form{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

.contactForm_margin{
    margin-top: 15px;
}

.contactForm__paragraph{
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

.contactForm__paragraph--number{
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 20px
}

.contactForm__input{
    width: 120px;
}

.contactForm__button{
    /* margin-top: 20px; */
    font-size: 13px;
    width: 200px;
    /* background-color: transparent; */
    border: 1px;
    border-style: solid;
    border-color: gray;
    /* background-color: purple; */
    /* border-radius: 50px; */
}

.contactForm__button--center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* .contactForm__button:hover{
    background-color: aquamarine;
    cursor: pointer;
} */