.contactList__unordered-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
}

.contactList__unordered-list--item{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.contactList__unordered-list--button{
    margin-left: 15px;
    background-color: transparent;
    border: 0px;
    border-style: solid;
    border-color: gray;
    border-radius: 50px;
}
